
<div class="d-sm-flex justify-content-center align-items-center h-100">
    <div class="row card p-3">
        <div class="col-12">
            <h2>Reset password</h2>
            <form [formGroup]="passwordReminderForm">
                <div class="form-group">
                    <div class="row mb-3">
                        <label for="email" class="col-sm-4 col-form-label">Email *</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="email" name="email" [(ngModel)]="passwordReminder.email" formControlName="email"/>
                            <div *ngIf="passwordReminderForm.get('email')?.invalid && passwordReminderForm.get('email')?.touched" class="text-danger">
                                <small *ngIf="passwordReminderForm.get('email')?.errors?.['required']">Email is required</small>
                                <small *ngIf="passwordReminderForm.get('email')?.errors?.['email']">Please enter a valid email address</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div *ngIf="smitResponse.success === false" class="alert alert-danger" role="alert">
                        {{ smitResponse.message }}
                    </div>
                    <div *ngIf="smitResponse.success" class="alert alert-success" role="alert">
                        {{ smitResponse.message }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <a routerLink="/login">Login</a>
                    </div>
                    <div class="col-6 d-sm-flex justify-content-sm-end">
                        <button 
                            type="button" 
                            class="btn btn-primary"
                            (click)="sendPasswordReminder()" 
                            [disabled]="passwordReminderForm.invalid" 
                        >
                            Send email
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


