<div class="row mb-3">
    <label for="title" class="col-sm-4 col-form-label">Start date *</label>
    <div class="col-sm-8">
        <input type="text" class="form-control" id="datepickerStart" [(ngModel)]="startDate" name="startDate" readonly>
    </div>
</div>
<div class="row mb-3">
    <label for="title" class="col-sm-4 col-form-label" [(ngModel)]="endDate">End date *</label>
    <div class="col-sm-8">
        <input type="text" class="form-control" id="datepickerEnd" name="endDate" readonly>
    </div>
</div>
